<div class="row ps-4 pe-4">
  <div class="col-1 d-flex justify-content-center align-items-center" (click)="task.completed = !task.completed">
    <input type="checkbox" [(ngModel)]="task.completed" class="form-check-input rounded-circle fs-4">
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-12">
        <span [class.text-decoration-line-through]="task.completed" class="fs-5">{{ task.name }}</span>
      </div>
      <div class="col-12">
        <span class="text-muted fs-6">{{ task.description }}</span>
      </div>
      <div class="col-12">
        <div *ngIf="task.dueDate">
          <span class="text-muted">{{task.dueDate | date: 'MM/dd/YY, HH:mm'}}</span>
        </div>
      </div>

      <div class="col-12 mt-1" *ngIf="task.linkUrl">
        <div class="bg-light p-2 ps-3 pe-3 rounded-pill d-inline-block">
          <i class="bi bi-link-45deg"></i>
          <span class="ms-2 fs-6">{{ urlCleanerService.cleanUrl(task.linkUrl) }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-11">
    <hr>
  </div>
</div>
