<div *ngIf="listService.selectedList == undefined; else elseBlock">
  <p>Selecione uma lista</p>
</div>
<ng-template #elseBlock>
  <div class="row min-vh-100 bg-white">
    <div class="col-12">
      <div class="row mb-4">
        <div class="col-10 d-flex justify-content-start align-items-center">
          <h2 class="fw-bold fs-1" [ngStyle]="{'color': listService.selectedList?.color}">{{listService.selectedList?.name}}</h2>
        </div>

        <div class="col-2 d-flex">
          <button class="ms-3 btn bg-transparent d-flex justify-content-end align-items-center">
            <i class="fs-4 bi bi-three-dots"></i>
          </button>
        </div>
      </div>

      <app-task-item *ngFor="let task of listService.selectedList?.tasks" [task]="task"></app-task-item>
    </div>
  </div>
</ng-template>
